/* esercizio 1  */

.ex-1-square {
    transition: 1s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */

.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* esercizio 3 */

.ex-3-square {
    transition: 1s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square {
    transition: 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* esercizio 5 */

.ex-5-square {
    transition: 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* esercizio 8 */

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    border-radius: 15px;
    filter: grayscale(80%);
}

/* esercizio 9 */

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    border-radius: 15px;
    filter: grayscale(65%);
    transform: scale(1.5);
}

/* esercizio 10 */

.ex-10-icon {
    animation-name: rotate; 
    animation-duration: 1.0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: reverse;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* esercizio 11 */

.ex-11-icon {
    
}

.ex-11-icon:hover {
    animation-name: rotate-3-4;
    animation-duration: 1.5s;
}

@keyframes rotate-3-4 {
    0% {rotate: 0deg;}
    75% {rotate: 270deg;}
}

/* esercizio 12 */

.ex-12-button:hover .ex-12-top-white {
    animation-name: right;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes right {
    0% {left: 10%;}
    50% {left: calc(100% - 60px);}
    100% {left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: left;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

@keyframes left {
    0% {right: 20%;}
    50% {right: calc(100% - 60px);}
    100% {right: 20%;}
}